In [43]:
import pandas as pd

In [49]:
df_ag = pd.read_csv('../resultados/mesma populacao/mutacao simples/mesma_pop_ag.csv',index_col=0)
df_ag.style.format("{:.2f}")
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [45]:
df_ag.loc[df_ag['makespan'].isin(df_ag.groupby('instance')['makespan'].min().values)]

,jobs,machines,numInd,numGen,makespan,to_matrix_percentage,elitismo,exec_time,instance,mutation,selection_method
2,512,16,100,100,100130.662,0.300,10.000,186.846,u_s_hilo.0,10.000,roulette wheel
8,512,16,100,100,4620447.926,0.300,10.000,190.002,u_s_hihi.0,20.000,roulette wheel
14,512,16,100,100,133609.929,0.300,10.000,188.919,u_s_lohi.0,30.000,roulette wheel
17,512,16,100,100,3582.799,0.300,10.000,189.331,u_s_lolo.0,10.000,roulette wheel
24,512,16,100,100,75520.472,0.300,10.000,194.095,u_i_hilo.0,30.000,roulette wheel
29,512,16,100,100,3108091.358,0.300,10.000,188.315,u_i_hihi.0,30.000,roulette wheel
34,512,16,100,100,109428.980,0.300,10.000,184.566,u_i_lohi.0,30.000,roulette wheel
39,512,16,100,100,2644.865,0.300,10.000,189.564,u_i_lolo.0,30.000,roulette wheel
43,512,16,100,100,157462.007,0.300,10.000,184.614,u_c_hilo.0,20.000,roulette wheel
49,512,16,100,100,8251583.000,0.300,10.000,188.770,u_c_hihi.0,30.000,roulette wheel
54,512,16,100,100,268048.325,0.300,10.000,185.691,u_c_lohi.0,30.000,roulette wheel
58,512,16,100,100,5320.019,0.300,10.000,186.404,u_c_lolo.0,20.000,roulette wheel

In [50]:
df_eda = pd.read_csv('../resultados/mesma populacao/mutacao simples/eda_mutacao_antes_geracao_mesma_pop.csv',index_col=0)
df_eda.style.format("{:.2f}")
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [48]:
df_eda.loc[df_eda['makespan'].isin(df_eda.groupby('instance')['makespan'].min().values)]

,jobs,machines,numInd,numGen,makespan,to_matrix_percentage,elitismo,exec_time,instance,mutation,selection_method
3,512,16,100,100,99059.431,0.300,10.000,69.308,u_s_hilo.0,30.000,roulette wheel
7,512,16,100,100,4604010.228,0.300,10.000,67.552,u_s_hihi.0,30.000,roulette wheel
9,512,16,100,100,131241.166,0.300,10.000,62.321,u_s_lohi.0,10.000,roulette wheel
14,512,16,100,100,3586.450,0.300,10.000,66.989,u_s_lolo.0,20.000,roulette wheel
19,512,16,100,100,75196.376,0.300,10.000,68.115,u_i_hilo.0,30.000,roulette wheel
22,512,16,100,100,3104138.296,0.300,10.000,66.254,u_i_hihi.0,20.000,roulette wheel
26,512,16,100,100,111289.185,0.300,10.000,65.571,u_i_lohi.0,20.000,roulette wheel
31,512,16,100,100,2614.296,0.300,10.000,69.055,u_i_lolo.0,30.000,roulette wheel
33,512,16,100,100,160356.762,0.300,10.000,67.015,u_c_hilo.0,10.000,roulette wheel
37,512,16,100,100,8128168.568,0.300,10.000,65.497,u_c_hihi.0,10.000,roulette wheel
42,512,16,100,100,267103.582,0.300,10.000,66.621,u_c_lohi.0,20.000,roulette wheel
46,512,16,100,100,5381.139,0.300,10.000,67.355,u_c_lolo.0,20.000,roulette wheel